body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 35px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-top: 45px;
}

.logo {
    margin-left: 10px;
    height: 45px; 
}

nav a {
    margin-left: 15px;
    padding: 43px 25px 0 25px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

.recherche h1 {
    padding-top: 40px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.recherche h2 {
    margin-top: 5px;
    font-size:medium;
    font-weight:normal;
}