body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.logo {
    display: flex;
    height: 40px; 
}

nav a {
    margin: 0 10px 0 20px;
    padding: 42px 10px 0 20px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
}

